@charset "utf-8";
@import "normalize";
// * { outline: 2px dotted red}

body {
  // background: rgb(51, 81, 32);
  background: rgb(30, 123, 30);
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

img {
position: static;
}

.veggies {
  float: right;
  width: 600px;
  margin-right: 60px;
  // position: fixed;
  border: 5px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.clones {
  float: right;
  width: 1400px;
  height: 400px;
  margin-right: 15px;
  margin-bottom: 25px;
  border: 5px solid black;
  border-radius: 10px;
}

.how {
  width: 1400px;
  margin-left: 25px;
  margin-top: 25px;
  border: 5px solid black;
  border-radius: 10px;
}

table {
    // float: right;
    width: 1400px;
    margin-left: 25px;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 25px;
}

td {
  display: flex;
  // border-radius: 10px;

}

tr {
  margin-bottom: 50px;
  margin-top: 50px;
  border-bottom: 5px solid black;
  padding-bottom: 50px;
}

th {
  transform: translateY(-40%);
  font-size: 24px;
}

.list {
  float: right;
  margin-right: 550px;
  font-size: 28px;
}

.plot {
  // background-image: "plot.png";
  float: left;
  margin-left: 45px;
  margin-top: 200px;
  margin-bottom: 10px;
  width: 700px;
  height:350px;
}

.logo img {
  height: 18.75em;
  margin-top: 0em;
  box-shadow: 0px 7px 5px #000000;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}
.about {
  margin: 3em auto;
  width: 1100px;
  border-style: solid;
  border-color: #000000;
  border-width: .2em;
  border-radius: 30px;
  box-shadow: 0px 2px 7px #000000;

}

a {
  color: rgba(0,0,0,0.5);
  &:hover{
    color: white;
  }
}

.form {
  margin-bottom: 10em;
}

.hide {
  display: none;
}

#id {
  display: table-column-group;
  margin-left: 90px;
}
#checkbox{
  width:435px;
  margin: auto;
}
input[type=checkbox] + label {
    text-align: left;
    // text-indent: 10px;
    height: 20px;
    width: 300px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: 10px;
}

input {
  margin-left: 60px;
}

p > a {
  margin-left: 60px;;
}

.hardy {
  margin-left: 60px;
}

.soil {
  margin-left: 60px;
}

.doc {

  width: 1000px;
  margin: 1.9em auto 1.9em;;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: rgb(107, 110, 17);
  text-shadow: 1px 2px 2px #000000;


  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.beetsstuff:hover {
    background-color: rgb(187, 255, 153);
}

.broccolistuff:hover {
    background-color: rgb(187, 255, 153);
}

.cabbagestuff:hover {
    background-color: rgb(187, 255, 153);
}

.carrotsstuff:hover {
    background-color: rgb(187, 255, 153);
}

.cauliflowerstuff:hover {
    background-color: rgb(187, 255, 153);
}

.cornstuff:hover {
    background-color: rgb(187, 255, 153);
}

.kalestuff:hover {
    background-color: rgb(187, 255, 153);
}

.lettucestuff:hover {
    background-color: rgb(187, 255, 153);
}

.onionsstuff:hover {
    background-color: rgb(187, 255, 153);
}

.peasstuff:hover {
    background-color: rgb(187, 255, 153);
}

.pumpkinsstuff:hover {
    background-color: rgb(187, 255, 153);
}

.squashstuff:hover {
    background-color: rgb(187, 255, 153);
}

.swiss_chardstuff:hover {
    background-color: rgb(187, 255, 153);
}

.tomatoesstuff:hover {
    background-color: rgb(187, 255, 153);
}

.zucchinistuff:hover {
    background-color: rgb(187, 255, 153);
}
