

<div class="welcome">
  <div class="logo">
    <%= image_tag "headerImage.png" %>
  </div>

  <div class="about">
    <p class="doc">
      Gardening is hard. But it doesn't have to be! Plot It Out helps to relieve confusion surrounding organic gardening;   such as companion planting, soil health, plant needs and can even provide helpful tips. It also features an   interactive UI that allows the user to create their own garden plot!
    </p>
  </div>
</div>
