

<div class="welcome">
  <div class="logo">
    <%= image_tag "headerImage.png" %>
  </div>

  <div class="about">
    <p class="doc">
      Gardening is hard. But it doesn't have to be! Plot It Out helps to relieve confusion surrounding organic gardening;   such as companion planting, soil health, plant needs and can even provide helpful tips. It also features an   interactive UI that allows the user to create their own garden plot!
    </p>
  </div>
</div>

<div class="soilstuff">
  <div class="form">
    <form id="suchness">
      <p>Soil Type:</p><input class="text" id="soil" type="text" name="soil">
      <label class="soil-label" for="soil">
        <p><a href="http://learn.eartheasy.com/2013/06/how-to-make-the-most-of-your-soil-type/">Find your soil type</a></p>
        <p>Hardiness Zone:</p><input class="text" id="zone" type="text" name="zone">
        <label class="zone-label" for="zone">
          <p><a href="https://planthardiness.ars.usda.gov/phzmweb/maps.aspx">Find your hardiness zone</a></p>
          <input type="button" name="submit" id="submit" value="Find Veggies!" />
    </form>
  </div>
</div>


<div class="checkbox">
  <div class="form">
    <p> this is a checkbox: </p>
      <form id="stuff">
        <div id="checkbox">
          <!-- this is where the shit goes -->
        </div></br>
        <input type="button" name="submit" id="commit" value="Plot it out!" />
      </form>
  </div>
</div>

<div class= "list">
  <p> Veggies: </p>
</div>

<div class="plot">
  <img src= "/images/plot.png">
</div>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="all.js"></script>
