

<div class="welcome">
  <div class="logo">
    <%= image_tag "headerImage.png" %>
  </div>

  <div class="about">
    <p class="doc">
      Gardening is hard. But it doesn't have to be! Plot It Out helps to relieve confusion surrounding organic gardening;   such as companion planting, soil health, plant needs and can even provide helpful tips. It also features an   interactive UI that allows the user to create their own garden plot!
    </p>
  </div>
</div>

<div class="form" action="sendSoilTypeAndClimate" on="submit">
  <form id="suchness">
    <p>Soil Type:</p><input class="text" id="soil" type="text" name="soil">
    <label class="soil-label" for="soil">
      <p><a href="http://learn.eartheasy.com/2013/06/how-to-make-the-most-of-your-soil-type/">Find your soil type</a></p>
    <p>Hardiness Zone:</p><input class="text" id="zone" type="text" name="zone">
    <label class="zone-label" for="zone">
      <p><a href="https://planthardiness.ars.usda.gov/phzmweb/maps.aspx">Find your hardiness zone</a></p>
       <input type="button" name="submit" id="submit" value="Find Veggies!" />
  </form>

</div>

<div class="checkbox">
  <p> this is a checkbox: </p>
  <table>
    <tr id="checkbox"><br></tr><br>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="all.js"></script>
