<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<div class="welcome">
  <div class="logo">
    <%= image_tag "headerImage.png" %>
  </div>

  <div class="about">
    <p class="doc">
      Gardening is hard. But it doesn't have to be! Plot It Out helps to relieve confusion surrounding organic gardening;   such as companion planting, soil health, plant needs and can even provide helpful tips. It also features an   interactive UI that allows the user to create their own garden plot!
    </p>
  </div>
</div>

<div class="soilstuff">
  <div class="form">
    <form id="suchness">
      <p class="soil">Soil Type:</p><input class="text" id="soil" type="text" name="soil">
      <label class="soil-label" for="soil">
        <p><a href="http://learn.eartheasy.com/2013/06/how-to-make-the-most-of-your-soil-type/">Find your soil type</a></p>
        <p class= "hardy">Hardiness Zone:</p><input class="text" id="zone" type="text" name="zone">
        <label class="zone-label" for="zone">
          <p><a href="https://planthardiness.ars.usda.gov/phzmweb/maps.aspx">Find your hardiness zone</a></p>
          <input type="button" name="submit" id="submit" value="Find Veggies!" />
    </form>
  </div>
</div>


<div class="checkbox">
  <div class="form">
    <p> Pick your veggies! </p>
      <form id="stuff">
        <div id="checkbox">
          <!-- this is where the shit goes -->
        </div></br>
        <input type="button" name="submit" id="commit" value="Plot it out!" />
      </form>
  </div>
</div>


<div class= "how">
  <h3> Your Plot! </h3>
  <p> These are the veggies you chose! They will do well in your hardiness zone and your soil-type, so yay! You're already halfway there! Below you'll find information about these veggies, including their friends (those who do well together), enemies (those who do not do well together), their sunshine needs, whether to start the seeds inside or outside and ay special needs they might have. Whew! Who knew plants were so picky! </p>
  <p> Plot it out! To the right of your plot, you'll see a collection of veggies. If you double click on a veggie image, you'll create a new one that you can drag and drop onto the plot and design your garden! This will make it easier to have a successful garden, as many plants do not do well to be moved after being planted. Also, here you can take into account the information you've learned about the plants! Woo Hoo! Have fun and happy gardening!!</p>
</div>

<div class= "list">
  <p> Veggies: </p>
</div>

<div class="clonelist"></div>

<div class="plot">
  <img src= "/images/plot.png">
</div>
